/* stylesheet.css - stylesheet for webdev assignment 4 */

body {
  background-color:#B165D4;
  text-color:white;
}

#header {
  background-color:#7806AA;
  text-align:center;
}

#header h1 {
  color:#FFD600;
}

#header .lead {
  color:#BFA830;
}

#receiptDiv {
  text-color:black;
  text-align:center;
}

#buttonGroup {
  float:right;
}

.foodImage {
  height:300px;
  width:300px;
}
